<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mexcelle.data">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.mexcelle.presentation.App"
        android:allowBackup="true"
        android:icon="@mipmap/logofinal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logofinal"
        android:supportsRtl="true"
        android:theme="@style/Theme.MVVMCovid">
        <activity android:name="com.mexcelle.view.contact.ContactActivity"></activity>
        <activity android:name="com.mexcelle.view.Advice.Advisoies" />
        <activity android:name="com.mexcelle.view.hospital.Hospitals" />
        <activity android:name="com.mexcelle.view.country.CountryActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>